{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <body>
{% include 'blog/header.html' %}    
        <div class="container">
            {% for author in authors %}
                <div class="col-md-3">
                    {% if author.avatar %}
                    <img class="avatar-img" src="{{author.avatar.url}}">
                        {% else %}
                    <img class="avatar-img" src="{% static 'img/foto.png' %}">
                    {% endif %}
                    
                    <h2>{{author.first_name}} {{author.last_name}}</h2>
                    <h5>{{author.email}}</h5>
                    <h5>{{author.birth_year}}</h5>
                    <h5>{{author.telephone}}</h5>

                </div>
            {% endfor %}

        </div>
    </body>
    {% endblock %}



